# github.com/hbd

[alias]
  b    = branch
  co   = checkout
  cob   = checkout -b
  cm   = !git checkout master && git pull
  cd   = !git checkout master && git pull
  st   = status -sb
  ac   = commit -p -m
  cop  = checkout -p
  lg1  = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
  lg2  = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  pull = pull --rebase
  pod  = pull origin development
  pom  = pull origin master
  puu  = !export CGB=$(git rev-parse --abbrev-ref HEAD) && git push -u origin $CGB
  l    = log --oneline --graph --format=\"%C(auto)%h %C(auto)%d %Creset%s %Cblue%cd %C(white)%cN\"
  la   = log --oneline --graph --all --format=\"%C(auto)%h %C(auto)%d %Creset%s %Cblue%cd %C(white)%cN\"
  ls   = branch -a
  lsr  = branch -r

[color]
  ui          = auto
  interactive = true
  branch      = true
  diff        = true
  status      = true

[url "git@bitbucket.org:"]
  insteadOf = https://bitbucket.org/

[url "git@github.com:"]
  insteadOf = https://github.com/
  insteadOf = http://github.com/
  insteadOf = git://github.com/

[user]
	email = zak.keener@getbellhops.com
	name = Zak
  signingkey = 3247C06ED74FFC0B

[pager]
  diff = diff-so-fancy | less --tabs=1,5 -RFX
  show = diff-so-fancy | less --tabs=1,5 -RFX

[credential]
  helper      = !aws codecommit credential-helper $@
  UseHttpPath = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
